/*!Gallery_inside*/

.information {
    width: 200px;
    margin-right: 180px;
}
.information ul {
    margin-bottom: 37px;
}
#instead_img {
    width: 120px;
    height: 120px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    background: #C4C4C4;
    margin-bottom: 24px;
}
.author-name {
    width: 92px;
    height: 36px;

    font-family: SpoqaHanSans;
    font-size: 22px;
    line-height: 36px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #000000;
}
.author-email {
    width: 153px;
    height: 19px;

    font-family: Futura;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.4);
}
.description {
    width: 200px;
    height: 177px;

    font-family: Futura;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.04em;

    color: rgba(0, 0, 0, 0.48);
}
.poster-container {
    width: 500px;
    margin-top: 12px;
}
.poster-container > div {
    margin: 0 0 36px 0;
}
.poster > img {
    width: 500px;
    height: 425px;
}

