/*!Gallery*/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
#app {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.wrap {
    overflow-x: hidden;
    /* max-width: calc(100vw - 10px); */
    width: 1440px;
    margin: 0 auto;
    padding: 98px 0 589px 0;
}
.nav {
    height: 45px;
    display: flex;
    align-content: center;
    padding: 0 270px 64px;
}
.logo {
    font-family: Lemon/Milk light;
    font-size: 36px;
    font-weight: bold;
    line-height: 45px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #000000;
}
.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 357px;
}
.nav ul li {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    margin-left: 36px;

    color: #000000;
}
.nav ul li a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;

    color: #000000;
}

#section {
    display: flex;
    padding-left: 270px;
    padding-right: 270px;
    min-height: 1024px;
}
.category {
    margin-right: 130px;
}
.category > ul > li {
    width: 90.662px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 36px;
    line-height: 27px;
    font-size: 20px;
    font-weight: 100;
    color: #000000;
}
.grid-container {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 9px;
    grid-row-gap: 12px;
    grid-auto-rows: auto;
    /* margin-bottom: 64px; */
}
.grid-item {
    box-shadow: 0 0 3px 0.1px #adadad;
}
.item-photo {
    position: relative;
}
.author-list {
    position: absolute;
    right: 12px;
    bottom: 12px;
}
.author-list > img {
    border-radius: 50%;
}
.item-text {
    width: 156px;
    padding: 12px;
}
.item-title {
    width: 156px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.item-description {
    font-size: 14px;
    line-height: 17px;
    overflow: hidden; 
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    width: 156px;
    height: 70px;
}