/*!Gallery*/

.category {
    margin-right: 130px;
}
.category > ul > li {
    width: 90.662px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 36px;
    line-height: 27px;
    font-size: 20px;
    font-weight: 100;
    color: #000000;
}
.category > ul > li > a {
    color: #000000;
}
.grid-container {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 300px;
    grid-column-gap: 69px;
    grid-row-gap: 36px;
    grid-auto-rows: auto;
    /* margin-bottom: 64px; */
}
.grid-item {
    box-shadow: 0 0 3px 0.1px #adadad;
    cursor: pointer;
}
.item-photo {
    position: relative;
}
.author-list {
    position: absolute;
    right: 12px;
    bottom: 12px;
}
.author-list > img {
    border-radius: 50%;
}
.item-text {
    width: 156px;
    padding: 12px;
}
.item-title {
    width: 156px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}
.item-description {
    font-size: 14px;
    line-height: 17px;
    overflow: hidden; 
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    width: 156px;
    height: 70px;
}