/*!profile*/

/*{
    border: 1px solid red;
} */

#profile {
    width: 900px;
    margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-template-rows: 160px 160px 160px 160px;
    grid-column-gap: 85px;
    grid-row-gap: 60px;
}
.grid-item {
    position: relative;
    text-align: center;
}
.grid-item > img {
    border-radius: 50%;
}
.profile-img {
    width: 160px;
    height: 160px;
    background-color: #C4C4C4;
    border-radius: 50%;
}
.item-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}